.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	min-height: 120px;
	.header__logo {
		   position: absolute;
		left: 15px;
		top: 15px;
		width: 40%;
		max-width: 130px;
	}
	.header__text {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		width: 89%;
		padding-right: 20%;
		font-size: 3rem;
		font-family: 'pf_medium', sans-serif;
		font-weight: bold;
		a {
			color: #000;
		}
	}
	.header__menu {
		position: absolute;
		top: 35px;
		right: 20px;
		width: 50px;
		height: 50px;
		// z-index: 101;
	}
	.header__menu-white {
		label.hamburger span {
			background-color: #fff;
		}
	}

}
.header__text-iphone {
	display: none;
	text-align: center;
	padding: 25px 0;	
	margin: 0 20px; 
	a {
		color: #000;
	}
}
.header__text-iphone-border {
	border-bottom: 1px solid $grey;
}

// sliders
.slider_arrow {
	background-color: rgba(0,0,0,0);
	svg {
		width: 15px;
		height: 30px;
		fill: #000;
	}
}

.slider_arrow:focus {
	svg {
		fill: #000;
	}
} 
.slider_arrow-pre {
	position: absolute;
	right: 70px;
	top: -60px;
	z-index: 1;
}
.slider_arrow-next {
	position: absolute;
	right: 20px;
	top: -60px;
	z-index: 1;
}

.slider-custom1 {
	margin: 20px 0;
	.slick-arrow {
		display: none !important;
	}
	.slide__item {
		img {
			padding: 0 20px;
		}
	}
}

.slider-custom2 {
	margin: 20px 0 40px 0;
	.slide__item2 {
		padding: 0 20px;
		color: #000;
		p {
			color: $grey_dark;
			padding-bottom: 10px;
		}
		h4 {
			font-size: 2.5rem;
		}
	}
	.slick-dots {
		display: none !important;
	}

}

.slider-custom3 {
	margin: 20px -20px 40px;
	.slider_arrow-pre {
		position: absolute;
		right: 70px;
		top: -20px;
		z-index: 1;
	}
	.slider_arrow-next {
		position: absolute;
		right: 20px;
		top: -20px;
		z-index: 1;
	}
	.slick-dots {
		display: block !important;
		margin-bottom: -40px;
		li.slick-active{
			button{
				background-color: #000;
			}
		}
	}
}
// .slick-dots-none {
// 	.slick-dots {
// 		display: none !important;
// 	}
// }

// end sliders


.slide__item {
	// min-height: 540px;
	color: #000;
	img {
		position: absolute;
		z-index: -1;
		// padding: 0 20px;
	}
	h2 {
		position: relative;
		z-index: 1;
		text-align: center;
		color: #fff;
		width: 95%;
		margin: 15% auto 28%;

	}
}

.wrapp-advantages {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 10px 40px 10px; 
	.advantages {
		flex-basis: 25%;
		svg {
			width: 100%;
			height: 65px;
			margin: 10px 0;
			fill: $prime-color;
		}
		p {
			text-align: center;
			font-size: 2rem;
			font-weight: bold;
			line-height: 1.4;
			padding: 0 9px;
		}
	}
}

.tabs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin-top: 50px;
	button {
		padding: 16px 30px;
	}
	.btn-tab_left {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
	.btn-tab_right {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}
.tabs-content {
	margin: 20px;
}

.wrapp-house {
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
.wrapp-house__ipad {
	display: flex;
}
.wrapp-house__iphone {
	display: none;
}
.house  {
	margin-top: 45px;
	// width: 48%;
	// display: inline-block;
	flex-basis: 48%;
	display: block;
	text-decoration: none;
	color: #000;
	.house-descript {
		color: #858585;
		margin-bottom: 10px;
	}
	img {
		width: 100%;
		margin-bottom: 15px;
	}
	.btn {
		padding: 20px 10px;
		width: 100%;
	}

}
.wrapp-img-card {
	width: 100%;
	height: 210px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 15px 0;
}

.house:nth-child(odd) {
	margin-right:10px; 
}

.house:nth-child(even) {
	margin-left: 10px;
}

.new-title  {
	margin-top: 80px;
}
.about-work {
	margin: 40px 20px;
}
.about-work_img {
	width: 30%;
	margin: 10px 0 20px 0;
}
.about-work_list {
	li {
		padding: 5px 0;
	}

}
.last-grad {
	position: relative;
}
.last-grad:after {
  content: "";
  position: absolute; top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(244,244,244,.1), rgba(244,244,244,1) );
} 
#work_list-open {
	display: none;
}

.sales-dep	 {
	margin: 20px;
}
.block-contact  {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: flex-start;
	// margin-top: 20px;
	flex-wrap: wrap;
	ul {
		flex-basis: 32%;
		li {
			font-weight: bold;
			&:first-child {
				font-weight: normal;
			}
			a {
				color: #000;
				font-weight: bold;
			}
		}

	}
}

.map  {
	margin: 40px 20px;
	.btn {
		padding: 10px 30px;
	}
}
.how_to_get {
	margin: 40px 20px;
	.accordion-item {
		margin: 20px 0;
	}
	a {
		font-size: 2.4rem;
	}
	a::after {
		content: '';
	}
	svg {
		width: 20px;
		position: relative;
		top: 3px;
		margin-left: 10px;
	}
}

.footer  {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	color: #fff;
	padding: 60px 20px; 
	.links_quarter  {
		flex-basis: 50%; 
		li {
			padding: 5px 0;
			font-size: 2.5rem;
			a {
				text-decoration: none;
				color: #fff;
			}
			// a:hover {
			// 	color: $prime-color;
			// }
		}
	}
	.links_all {
		flex-basis: 50%;
		li {
			a {
				text-decoration: none;
				color: #fff;
			}
		}
	}
	.footer_info {
		text-align: center;
		flex-basis: 100%;
		color: #929292;
		padding-bottom: 20px;
		span {
			color: $prime-color;
		}
	}
	.btn {
		margin: 50px 0 20px 0;
	}
	.social_links {
		flex-basis: 100%;
		text-align: center;
		margin: 15px 0 30px 0; 
		li {
			display: inline-block;
			margin: 0 15px;
			a {
				text-decoration: none;
				svg {
					fill: #fff;
					width: 30px;
					height: 20px;
				}
			}
		}
	}
}

.wrapp-menu-logo {
	min-height: 120px;
	width: 100%;
	p {
		svg {
			width: 30px;
			float: right;
			fill: #fff;
			position: relative;
			top: -42px;
			left: -10px;
			transition: all .25s 
		}
	}
}
.menu-logo {
	position: relative;
	left: -4px;
	top: 16px;
	width: 46%;
	max-width: 130px;
}
.footer__menu {
	background-color: $prime-color;
	padding: 0px 20px 130px;
	overflow: auto;
	height: 100vh;
	.links_quarter-drop {
		display: none;
	}
	.links_quarter-drop-open {
		display: block;
	}
	.links_quarter, .links_all {
		flex-basis: 100% !important;
		text-align: center;
		margin-bottom: 20px;
	}
	.h3 {
		padding: 20px 0;
		text-align: center;
		width: 100%;
		font-size: 3.1rem;
		a {
			color: #fff;
			text-decoration: none;
		}
	}    
	.wrapper-kedr {
		// border-bottom: 1px solid #d1d1d1;
		width: 300px;
		margin: 0 auto;
	}
	.menu-title {
		.border-bottom {
			border-bottom: 1px solid #fff;
		}
	}
	.links_quarter,.footer_info,.social_links,.links_all,.menu-title { flex-basis: 100%;}
	.btn { margin: 0 0 20px; }
}
.footer__footer {
	background-color: #252525;
	min-height: 100%;
	&::after {
		content: '';
		display: table;
		clear: both;
	}
	h3 {
		font-family: pf_regular;
		font-size: 3rem;
	}
	.js-title-sosn-content {
		display: none;
	}
	.btn {
		margin-top: 35px !important;
	}
	.wrapp-menu_footer {
		flex-basis: 50%;
	}
	.links_quarter-drop {
		display: none;
	}
}

// breadcrumbs
.breadcrumbs {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 40px 20px 10px;
	flex-wrap: wrap;
	li {
		padding-right: 3px;
		a {
			color: $grey_dark;
			text-decoration:none;
		}
		&:after {
			content: '/';
			margin-left: 5px;
    		margin-right: 10px;
    		color: $grey_dark;
		}
		&:last-child:after {
			content: '';
		}
	}
}


//links drop
.read-other {
	font-size: 2.5rem;
	color: #000;
	border-bottom: 3px dotted #000;
	font-family: $font_m;
	svg {
		width: 20px;
		position: relative;
		top: 3px;
		margin-left: 10px;
	}
}
.read-other_green {
	color: $prime-color;
	border-bottom: 3px dotted $prime-color;
	text-transform: uppercase;
	letter-spacing: 1px;
	svg {
		fill: $prime-color;
	}
}

.read-other__close {
	display: none;
	// // opacity: 0;
	// transition: all 3s ease;
}
.read-other__open {
	display: block;
	// opacity: 1;
	// transition: all 3s ease;
	
}
.read-other__svg {
	transform: rotate(180deg);
	
}

//links
.links {
	color: $prime-color;
	text-decoration: none;
	svg {
		fill: $prime-color;
	}
}
.links:visited {
	color: $prime-color;
	svg {
		fill: $prime-color;
	}
}


//list

.list {
	li {
		padding-left: 5px;
	}
	li::before {
		content: '\2014';
		position: relative;
		left: -5px;
	}
}
.list-first_item  {
	li:first-child {
		padding-left: 0;
	}
	li:first-child::before {
		content: '';
		left: 0;
	}
}
//end list

// button
.btn {
	border-radius: 5px;
	font-size: 2.2rem;
	padding: 20px 90px;
	display: inline-block;
	font-family: $font_r;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
}
.btn-green {
	background-color: $prime-color;
	color: #fff;
}
.btn-white {
	background-color: #fff;
	color: $prime-color;
	border: 1px solid #fff;
}
.btn-white_white-border {
	border: 1px solid #fff;
	color: #fff;
	background-color: rgba(0,0,0,0); 
}
.btn-opasity {
	background-color: rgba(0,0,0,0);
	border:  1px solid #757e1f;
	color: #fff;
}
.btn-green_border {
	background-color: rgba(0,0,0,0);
	color: $prime-color;
	border: 2px solid $prime-color;
}
.btn-uppercase {
	text-transform: uppercase;
	letter-spacing: 1.7px;
}
.btn-center {
	margin: 0 auto;
}
.btn-black {
	background-color: #000;
	color: #fff;
	border: 1px solid #000; 
}
.btn-black_noactive {
	border: 1px solid #000; 
	background-color: rgba(0,0,0,0);
	color: $grey_dark;
}
.btn-text_dark-green {
	color: #757e1f;
}

//end button


//slick
.slick-dots {
	margin-bottom: 55px;
}
.slick-dots button {
	background-color: #d5d7d5;
	width: 13px;
	height: 13px;
	box-shadow: none;
}
.slick-dots li.slick-active button {
	background-color: #fff ;
}
.slick-dots li {
	padding: 0 12.5px;
}


//



//ui-slider

.ui-slider-horizontal {
	height: 3px;
}	
.ui-widget.ui-widget-content {
	border: none;
	margin: 0 auto;
    width: 95%;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	border: 5px solid #fff;
	background-color: #757e1f;
	border-radius: 50%;
}
.ui-slider-horizontal .ui-slider-handle  {
	top: -.5em;
}
.ui-widget-content {
	background-color: #757e1f;
	color: #fff;
}
.ui-widget-header  {
	background-color: #fff;
}





// --------------
// modal
// --------------


.modal {
	.form-error {
		font-size: 1.5rem;
		font-family: $font_r;
		color: #fc2451;
		display: none;
	}
	.error {
		border-color: #fc2451;
		color: #fc2451;
	}
	input,textarea {
		border-radius: 5px;
		padding: 20px;
		font-size: 2rem;
		width: 98%;
		margin: 0 1% 20px;

	}
	h4 {
		margin: 0 1%;
		margin-top: 20px;
	}
	.footer__menu {
		h3 {
			border-bottom: none;
		}
	}
	
	.footer__menu {
		.menu-title {

			form {
				.btn {
					margin: 15px auto;
				}
			}
		}
	}
}

// --------------
// modal advantages
// --------------

.wrapp-modal-advantage {
	position: fixed;
	z-index: 110;
	width: 100%;
	height: 100vh;
	background-color: rgba(182, 197, 39, 0.7);
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	text-align: center;
	.wrapp-modal-advantage-content {
		position: absolute;
	    width: 100%;
	    height: 100%;
	    font-size: 0;
	    overflow: auto;
	    // padding: 50px;
	    &:before {
	    	content: '';
		    height: 100%;
			width: 0;
			display: inline-block;
			vertical-align: middle;
	    }
	}
	.modal-advantage {
		max-width: 400px;
		min-width: 320px; 
		// margin: 40% auto;
		background-color: #fff;
		padding: 30px;
		text-align: center;
		overflow: auto;
		display: inline-block;
	    vertical-align: middle;
	    position: relative;
		.title  {
			font-family: $font_m;
		}
		svg {
			width: 80px;
			margin: 20px 0;
			fill: $prime-color;
		}
		.close {
			svg {
				position: absolute;
				width: 30px;
				margin-left: 150px;
				margin-top: -15px;
			}
		}
	}

}

.menu_mobile {
	position: fixed;
	z-index: 100;
	width: 100%;
	min-height: 100vh;
	background-color: $prime-color;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
}
.menu_mobile-close { display: block; }

.lg-next, .lg-icon,.lg-prev {
	display: none !important;
}

.wrapp-btn {
	text-align: center;
}

.modal-open {
	overflow: hidden;
	position: fixed;
	left: 0px;
	height: 100%;
	width: 100%;
}
.success_submit  {
	display: none;
	text-align: center;
}
.map {
	div {
		width: 100%;
		height: 400px;
		margin-bottom: 30px;
	}
}

#js-filter-result {
	display: none;
}

.tabs {
	.btn {
		&:first-child {
			border-bottom-right-radius: 0;
   			border-top-right-radius: 0;
		}
		&:last-child {
			border-bottom-left-radius: 0;
  			border-top-left-radius: 0;
		}
	}
}

.wrap-404 {
	padding: 20px 0 90px;
	h1 {
		font-size: 7.5rem;
		padding-bottom: 30px;
		line-height: 1;
	}
	.btn {
		margin-top: 50px;
	}
}