@media (max-width: 768px) {
	.btn {
		font-size: 1.8rem;
	}
}
@media (max-width: 710px) {
	.title-h3-wrapp {
		.title-h3 {
			span {
				display: none;
			}
		}
	}
}
@media (max-width: 670px) {
	.wrapp_filters {
		padding: 30px 20px 60px;
		.tabs {
			.btn {
				min-width: 50px;
			}
		}
		.tabs-content_filters {
			.tabs-fast, .tabs-deployed	{
				.tabs-fast_list {
					.tabs-fast_list_item {
						.filter-text{
							flex-basis: 100% !important;
							padding: 0;
							margin-bottom: 20px;
						}
						.filter-value { 
							flex-basis: 100% !important;
							padding: 0;
						}
					}
				}
			}	
		}
	}
	.wrapp_filter_result_item {
		ul {
			padding: 0;
		}
	}
}

@media (max-width: 610px) {
	// html {
	// 	font-size: 7px;
	// }
	
	.footer__footer {
		min-height: 975px;
		.wrapp-menu_footer {
			flex-basis: 100%;
			text-align: center;
		}	
	}
	.btn {
		padding: 20px 0px;
		text-align: center;
	}
	.btn-green,.btn-white, .btn-opasity {
		min-width: 280px;
	}
	.wrapp-house__ipad {
		display: none;
	}
	.wrapp-house__iphone {
		display: block;
		padding-bottom: 60px;
    	border-bottom: 1px solid $grey;
	}
	.wrapp-advantages .advantages {
		flex-basis: 50%;
		padding: 30px 0;
		min-width: 150px;
	}
	.border-right {
		border-right: 1px solid $grey;
	}
	.border-left {
		border-left: 1px solid $grey;
	}
	.border-top {
		border-top: 1px solid $grey;
	}
	.border-bottom  {
		border-bottom: 1px solid $grey;
	}
	.wrapper-kedr {
		border-bottom: 1px solid #fff;
	}
	.about-work_img {
		width: 50%;
	}
	.block-contact {
		ul {
			flex-basis: 100%;
			margin: 15px 0;
		}
	}
	.map {
		.btn {
			margin: 0 auto;
		}
	}
	.footer {
		.links_quarter, .links_all {
			flex-basis: 100%;
			text-align: center;
			margin-bottom: 20px;
			h3 {
				margin: 20px 0;
			}
		}
		.links_quarter { order:0; }
		.links_all { order:1; }
		.btn { order:0; margin: 0 0 20px; }
		.footer_info { order:10; }
		.social_links { order:10; }
	}
	.header .header__text {
		display: none;
	}
	.header__text-iphone {
		display: flex;
		flex: 1 0 auto;
		justify-content: center;
		// margin: 50px 0;
	}
	.header__text-ipad {
		display: none;
	}
	.slide__item {
		h2 {
			font-size: 2.5rem;
		}
	}
	.slider-custom3 .slide__item2 .btn{
    	margin: 20px auto;
    	text-align: center;
    	display: block;
	}
	.new-title  {
		margin-top: 50px;
	}
	.wrapp-news {
		padding-bottom: 8px;
	}
	.wrapp-news:after {
		content:'';
		position: absolute;
		width: 90%;
		background-color: #d1d1d1;
		height: 1px;
		left:0;
		right:0;
		margin: 0 auto;
	}
	.about-work {
	    margin-top: 0;
	    padding-top: 40px;
	    border-bottom: 1px solid #d1d1d1;
    	padding-bottom: 42px;
	}
	.logo_quarter {
		margin: 0 20px;
	}
	.slider-custom1 {
		margin: 0;
	}
	.slider-custom1 .slide__item img {
		padding: 0 10px;
	}

	// --------------
	// foto_galerias
	// --------------

	.wrapp_foto_galerias .foto_galerias-item {
		flex-basis: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.wrapp_foto_galerias .foto_galerias-item:nth-child(odd), .wrapp_foto_galerias .foto_galerias-item:nth-child(even) {
		padding-left: 0;
		padding-right: 0;
	}
	// --------------
	// about
	// --------------
	.wrapp_about_number {
		.about_number-list  {
			li {
				flex-basis: 100%;
				padding: 20px 5px;
				&:first-child, &:last-child {
					padding: 20px 5px;
				}
			}

		}
	}

	// --------------
	// house_price
	// --------------
	.wrapp-house_price {
		.house {
			flex-basis: 100%;
			&:nth-child(odd) {
				margin-right: 0;
			}
			&:nth-child(even) {
				margin-left: 0;
			}
		}

	}

	// --------------
	// filter_resalts 
	// --------------

	.wrapp_resalt {
		margin-top: 0;
		.header-resalt {
			.group_chechbox, .title-h3-wrapp {
				flex-basis: 100%;
			}
			.title-h3-wrapp {
				text-align: center;
				padding: 25px 0;
				border-bottom:  1px solid $grey;
			}
			.group_chechbox {
				padding-top: 25px;
				justify-content: center;
				margin-left: 42px;
			}
		}
	}
	.footer__menu {
		.btn{
		    order: 0;
		}
	}
	.logo_quarter {
		.logo_quarter__ipad {
			display: none;
		}
		.logo_quarter__iphone {
			display: inline-block;
		}
	}
	.wrapp_loyalty_text img {
		width: 100%;
	}
	.wrapp-news .news-fix {
		flex-basis: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.wrapp_resalt .body-resalt .list-items-resalts .item-resalts .wrapp-img {
		flex-basis: 30%;
	}
	.wrapp_resalt .body-resalt .list-items-resalts .item-resalts .info-item-resalt {
		flex-basis: 70%;
		padding: 0 0 0 10px;
	}
	.wrapp_resalt .body-resalt .list-items-resalts .item-resalts .info-item-resalt div h4 {
		line-height: 1.2;
	}
	.title-about_menu {
		.house {
			flex-basis: 100%;
			margin: 0 !important;
			padding: 30px 0;
		}
	}
}


@media (max-width: 375px) {
	html {
		font-size: 9px;
	}
	.btn {
		padding: 20px 10px;
   		width: 100%;
	}

	.read-other {
		font-size: 2.3rem;
	}
	.wrapp_filters {
		padding: 30px 20px 60px;
    	margin: 0 10px 30px;
		.filters-h3 {
			span {
				display: none;
			}
		}
		.tabs {
			button {
				padding: 16px 15px;
			}
		}
		label.checkbox-custom {
			margin-right: 2%;
		}
		.btn {
			padding: 20px 25px;
			min-width: 250px;
		}
		.tabs-content_filters {
			.tabs-fast, .tabs-deployed	{
				.tabs-fast_list {
					.tabs-fast_list_item {
						.filter-text{
							flex-basis: 100% !important;
							padding: 0;
							margin-bottom: 20px;
						}
						.filter-value { 
							flex-basis: 100% !important;
							padding: 0;
						}
					}
				}
			}	
		}
	}
	.wrapp_resalt .header-resalt .group_chechbox p {
		padding-top: 10px;
	}
	.wrapp_resalt .body-resalt {
		margin: 40px 0;
	}

	.wrapp-modal-advantage .modal-advantage .close svg {
		margin-left: 125px;
	}
	// .wrapp-menu-logo p svg {
	// 	top: -40px;
	// }
	.map {
		div {
			height: 300px;
		}
		.btn {
			padding: 20px 10px;
		}
	}
	.wrapp_filters .filters-h3 svg {
		display: none;
	}
	

}


@media (max-width: 330px) {
	.wrapp-modal-advantages .modal-advantages .close svg {
		margin-left: 120px;
	}
	// .wrapp-menu-logo p svg {
	// 	top: -36px;
	// }
	.wrapp_filter_result_item ul li h4 {
		font-size: 2rem; 
	}
}