@media (max-width: 710px) {
	.title-h3-wrapp {
		.title-h3 {
			span {
				display: none;
			}
		}
	}
}
@media (max-width: 670px) {
	.wrapp_filters {
		padding: 50px 20px;
		.tabs-content_filters {
			.tabs-fast, .tabs-deployed	{
				.tabs-fast_list {
					.tabs-fast_list_item {
						padding: 15px 0;
						.filter-text{
							flex-basis: 100% !important;
							padding: 0;
							margin-bottom: 20px;
						}
						.filter-value { 
							flex-basis: 100% !important;
							padding: 0;
						}
					}
				}
			}	
		}
	}
	.wrapp_filter_result_item {
		ul {
			padding: 0 20px;
		}
	}
}

@media (max-width: 610px) {
	// html {
	// 	font-size: 7px;
	// }
	.btn {
		padding: 20px 50px;
		text-align: center;
	}
	.wrapp-house__ipad {
		display: none;
	}
	.wrapp-house__iphone {
		display: block;
	}
	.wrapp-advantages .advantages {
		flex-basis: 49%;
		padding: 30px 0;
	}
	.border-right {
		border-right: 1px solid $grey;
	}
	.border-left {
		border-left: 1px solid $grey;
	}
	.border-top {
		border-top: 1px solid $grey;
	}
	.border-bottom  {
		border-bottom: 1px solid $grey;
	}
	.about-work_img {
		width: 50%;
	}
	.block-contact {
		ul {
			flex-basis: 100%;
			margin: 15px 0;
		}
	}
	.map {
		.btn {
			margin: 0 auto;
		}
	}
	.footer {
		.links_quarter, .links_all {
			flex-basis: 100%;
			text-align: center;
			margin-bottom: 20px;
			h3 {
				margin: 20px 0;
			}
		}
		.links_quarter { order:0; }
		.links_all { order:1; }
		.btn { order:3; margin: 0 0 20px; }
		.footer_info { order:10; }
		.social_links { order:5; }
	}
	.header .header__text {
		display: none;
	}
	.header__text-iphone {
		display: block;
	}
	.slide__item {
		h2 {
			font-size: 2.5rem;
		}
	}
	.slider-custom2 .slide__item2 {
		padding: 0;
	}



	// --------------
	// foto_galerias
	// --------------

	.wrapp_foto_galerias .foto_galerias-item {
		width: 100%;
	}
	// --------------
	// about
	// --------------
	.wrapp_about_number {
		.about_number-list  {
			li {
				flex-basis: 100%;
				padding: 20px 5px;
				&:first-child, &:last-child {
					padding: 20px 5px;
				}
			}

		}
	}

	// --------------
	// house_price
	// --------------
	.wrapp-house_price {
		.house {
			width: 100%;
			&:nth-child(odd) {
				margin-right: 0;
			}
			&:nth-child(even) {
				margin-left: 0;
			}
		}

	}

	// --------------
	// filter_resalts 
	// --------------

	.wrapp_resalt {
		.header-resalt {
			.group_chechbox, .title-h3-wrapp {
				flex-basis: 100%;
				border-top:  2px solid $grey;
			}
			.title-h3-wrapp {
				text-align: center;
				padding: 25px 0;
			}
			.group_chechbox {
				padding-top: 25px;
				justify-content: center;
			}
			
			    
		}
	}
}


@media (max-width: 375px) {
	html {
		font-size: 9px;
	}
	.wrapp_filters {
		padding: 30px 10px;
		.filters-h3 {
			span {
				display: none;
			}
		}
		.tabs {
			button {
				padding: 16px 15px;
			}
		}
		label.checkbox-custom {
			margin-right: 2%;
		}
		.btn {
			padding: 20px 25px;
		}
		.tabs-content_filters {
			.tabs-fast, .tabs-deployed	{
				.tabs-fast_list {
					.tabs-fast_list_item {
						padding: 15px 0;
						.filter-text{
							flex-basis: 100% !important;
							padding: 0;
							margin-bottom: 20px;
						}
						.filter-value { 
							flex-basis: 100% !important;
							padding: 0;
						}
					}
				}
			}	
		}
	}
	.wrapp_resalt .header-resalt .group_chechbox p {
		padding-top: 10px;
	}
	.wrapp_resalt .body-resalt {
		margin: 40px 0;
	}
			

}
