//news
.wrapp-news {
	a {
		color: #000;
		text-decoration: none;
	}
	.news-fix {
		&:nth-child(odd){
			margin: 0 0 40px 0;
			padding-right: 10px;
		}
		&:nth-child(even){
			margin: 0 0 40px 0;
			padding-left: 10px;
		}
		.house-title {
			max-height: 120px;
			overflow: hidden;
		}
	}
}
.news_title {
	margin-bottom: 30px;
}


//one_news
.wrapp_news_one {
	.news_one__img {
		width: 100%
	}
	.margin__top-bottom {
		margin: 15px 0;
	}
	.no_margin__bottom {
		margin-bottom: 0;
	}
}