.wrapp_price_contact {
	h3,p {
		margin-bottom: 25px;
	}
	ul {
		li {
			font-family: $font_m;
			font-size: 2.5rem;
		}
	}
}
.wrapp-house_price {
	margin-bottom: 50px; 
}
.banks {
	margin: 20px;
	.wrapp_loyalty_list {
		padding: 20px 0;
	}
}