footer
	ul.links_quarter
		li Кедровый квартал
		li О квартале
		li Цены и условия
		li Фотогалерея

	ul.links_all
		li Кедровый квартал
		li О квартале
		li Цены и условия
		li Фотогалерея
	+btn('btn-green', 'подобрать квартиру')
	ul
		li
			img(src='')
		li
			img(src='')
		li
			img(src='')
	p.footer_info &copy; 2016, ООО "Астродевелопмент", УНП 691759953 
	p.footer_info Made in 
		span Flex Media