header.header
	a(href='#')
		img.header__logo(src='img/logo.png')
	p.header__text.header__text-ipad
		a(href="tel:+1234567890") +375 29 000 00 00
	div.header__menu#header__menu
		//- input(type="checkbox" id="hamburger" hidden="hidden")
		label(for="hamburger" class="hamburger js-menu-open" id="")
			span
			span
			span
p.h3.header__text-iphone.header__text-iphone-border 
	a(href="tel:+1234567890") +375 29 000 00 00

