header.header
	img.header__logo(src='img/logo.png')
	p.header__text +375 29 000 00 00

	div.header__menu
		input(type="checkbox" id="hamburger" hidden="hidden")
		label(for="hamburger" class="hamburger" id="menu")
			span
			span
			span

