include _btn
div.menu_mobile.modal.js_modal_mobile_open
	div.footer.footer__menu
		div.header
		div.menu-title
			h3.border-bottom Заявка		
			form
				h4 Имя
				input.btn-white_white-border(type='text')
				h4 Телфон
				input.btn-white_white-border(type='tel')
				h4 E-mail
				input.btn-white_white-border(type='email')
				h4 Сообщение
				textarea.btn-white_white-border(rows='10' )
				+btn('btn-white btn-uppercase btn-center','Оставить заявку')
			
					
