
include _slide_oneSlide
include _slide_twoSlide
mixin slider(arrows, dots, slidesToShow, slidesToScroll, allSlides, type)
	
	-var str = '{"slidesToShow":'+slidesToShow+', "slidesToScroll":'+slidesToScroll+', "dots":"'+dots+'", "arrows":"'+arrows+'"}'
	-if (type == 1) 
		div.slider-init.slider-custom1(data-slick=str)
			- for (var i = 0; i < allSlides.length; i++) 
				+slide_1(allSlides[i].img, allSlides[i].text)
	-if (type == 2) 
		div.slider-init.slider-custom2(data-slick=str)
			- for (var i = 0; i < allSlides.length; i++) 
				+slide_2(allSlides[i].img, allSlides[i].text, allSlides[i].date)
				
			
	


