extends _layout

block title
	title Title of template

block content
	include includes/_sliders
	include includes/_btn

	include includes/_header
	div.wrapp-contacts-page
		nav.title-breadcrumbs
			ul.breadcrumbs
				li 
					a(href='#') Главная /
		section.title-map_and_contact
			div.sales-dep
				h3.sales-dep_title Отдел продаж
				div.block-contact
					ul
						li Адрес
						li ул. Леонардо Да Винчи, 2
						li д. Копище, Минский р-н
					ul
						li Телефоны
						li +375 29 300-00-00
						li +375 29 300-00-00
						li +375 29 300-00-00
					ul
						li Режим работы
						li ПН...ПТ 8:30 &mdash; 20:00
						li CБ, BC 10:00 &mdash; 16:00
			div.map
				div(id="map" style="width: 100%; height: 400px; margin-bottom: 30px;" data-center-x='55.76' data-center-y='37.64' data-zoom='7' data-marker-x='55.76' data-marker-y='37.64')
				+a('btn-green_border btn-uppercase', 'построить маршрут','#')
		
		section.how_search
			div.how_to_get
				p Как добраться
				div.accordion
					div.accordion-item
						div.slow-drop#transport
							span.read-other.read-other_black Общественный транспорт	
							<svg class='read-svg-arrow' version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>
						div.slow-drop.read-other__close#transport-open
							h3 Автобусы, Троллейбусы
							p 34 3643 783742
					div.accordion-item
						div#auto 
							span.read-other.read-other_black Автомобиль 
							<svg class='read-svg-arrow' version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>
						div.read-other__close#auto-open
							h3 Автобусы, Троллейбусы
							p 34 3643 783742
		
		include includes/_link_back
	include includes/_footer

	include includes/_menu
	include includes/_modal
	



	







