extends _layout

block title
	title Title of template

block content
	include includes/_sliders
	include includes/_btn
	include includes/_menu

	include includes/_header
	
	seciton.title-filters
		div.wrapp_filters
			h3.filters-h3 Подборка квартиры по параметрам
			img
			div.tabs
				+btn('btn-white btn-tab_left js_tab', 'Быстрый', 'tab1')
				+btn('btn-white_white-border btn-tab_right js_tab', 'Развернутый', 'tab2')
			div.tabs-content_filters
				div.tabs-fast.js_tab_item(data-tab-container="tab1")
					form
						ul.tabs-fast_list
							li.tabs-fast_list_item.js_ui_slider(data-min='0' data-max='1000' data-step='10' data-default-value-to='100' data-default-value-from='500')
								div.filter-text
									p.filter-text_main Стоимость, тыс $
									p.filter-text_secondary
										label.js_ui_slider_label
										input.js_ui_slider_input(type="text" disabled)
								div.filter-value
									div.js_ui_slider_main
									
							li.tabs-fast_list_item
								div.filter-text
									p.filter-text_main Комнаты
								div.filter-value.filter-value__checkbox
									input(type="checkbox" class="checkbox" id="checkbox_1")
									label.checkbox-custom(for="checkbox_1") 1

									input(type="checkbox" class="checkbox" id="checkbox_2")
									label.checkbox-custom(for="checkbox_2") 2

									input(type="checkbox" class="checkbox" id="checkbox_3")
									label.checkbox-custom(for="checkbox_3") 3

									input(type="checkbox" class="checkbox" id="checkbox_4")
									label.checkbox-custom(for="checkbox_4") 4

							li.tabs-fast_list_item
								div.filter-text
									p.filter-text_main Дополнительно
								div.filter-value
									select.selectUi(name="select")
										option Slower
										option Slower
										option Slower
										option Slower
										option Slower
										option Slower

						+btn('btn-white btn-center btn-uppercase btn-text_dark-green','Найти квартиру')
						a 
							p.link_reset &times; Сбросить все

				div.tabs-deployed.js_tab_item.hidden(data-tab-container="tab2")
					form
						ul.tabs-fast_list
							li.tabs-fast_list_item.js_ui_slider(data-min='0' data-max='1000' data-step='10' data-default-value-to='100' data-default-value-from='500')
								div.filter-text
									p.filter-text_main Стоимость, тыс $
									p.filter-text_secondary
										label.js_ui_slider_label
										input.js_ui_slider_input(type="text" disabled)
								div.filter-value
									div.js_ui_slider_main

							li.tabs-fast_list_item.js_ui_slider(data-min='0' data-max='1000' data-step='10' data-default-value-to='100' data-default-value-from='500')
								div.filter-text
									p.filter-text_main Стоимость, тыс $
									p.filter-text_secondary
										label.js_ui_slider_label
										input.js_ui_slider_input(type="text" disabled)
								div.filter-value
									div.js_ui_slider_main

							li.tabs-fast_list_item.js_ui_slider(data-min='0' data-max='1000' data-step='10' data-default-value-to='100' data-default-value-from='500')
								div.filter-text
									p.filter-text_main Стоимость, тыс $
									p.filter-text_secondary
										label.js_ui_slider_label
										input.js_ui_slider_input(type="text" disabled)
								div.filter-value
									div.js_ui_slider_main

							li.tabs-fast_list_item.js_ui_slider(data-min='0' data-max='1000' data-step='10' data-default-value-to='100' data-default-value-from='500')
								div.filter-text
									p.filter-text_main Стоимость, тыс $
									p.filter-text_secondary
										label.js_ui_slider_label
										input.js_ui_slider_input(type="text" disabled)
								div.filter-value
									div.js_ui_slider_main
							

							li.tabs-fast_list_item
								div.filter-text
									p.filter-text_main Дополнительно
								div.filter-value
									select.selectUi(name="select")
										option Slower
										option Slower
										option Slower
										option Slower
										option Slower
										option Slower

							li.tabs-fast_list_item
								div.filter-text
									p.filter-text_main Дополнительно
								div.filter-value
									select.selectUi(name="select")
										option Slower
										option Slower
										option Slower
										option Slower
										option Slower
										option Slower

							li.tabs-fast_list_item
								div.filter-text
									p.filter-text_main Дополнительно
								div.filter-value
									select.selectUi(name="select")
										option Slower
										option Slower
										option Slower
										option Slower
										option Slower
										option Slower		
							li.tabs-fast_list_item
								div.filter-text
									p.filter-text_main Комнаты
								div.filter-value.filter-value__checkbox
									input(type="checkbox" class="checkbox" id="checkbox_5")
									label.checkbox-custom(for="checkbox_5") 1

									input(type="checkbox" class="checkbox" id="checkbox_6")
									label.checkbox-custom(for="checkbox_6") 2

									input(type="checkbox" class="checkbox" id="checkbox_7")
									label.checkbox-custom(for="checkbox_7") 3

									input(type="checkbox" class="checkbox" id="checkbox_8")
									label.checkbox-custom(for="checkbox_8") 4

							li.tabs-fast_list_item
								div.filter-text
									p.filter-text_main Дополнительно
								div.filter-value
									select.selectUi(name="select")
										option Slower
										option Slower
										option Slower
										option Slower
										option Slower
										option Slower
						+btn('btn-white btn-center btn-uppercase btn-text_dark-green','Найти квартиру')
						a 
							p.link_reset &times; Сбросить все

	include includes/_footer
	



	







