extends _layout

block title
	title Title of template

block content
	include includes/_sliders
	include includes/_btn

	include includes/_header
	
	div.wrapp-foto-gallery-page
		section.title-logo_quarter
			div.logo_quarter
				img.logo_quarter__ipad(src='img/kedr_logo.png' alt='Кедровый квартал')
				img.logo_quarter__iphone(src='img/kedr_logo_iphone.png' alt='Кедровый квартал')
		nav.title-breadcrumbs
			ul.breadcrumbs
				li 
					a(href='#') Главная /

		mixin foto(id)
			-var id_gg = 'lightgallery'+id
			div.lightgallery-custom(id=id_gg)
				//- Титульная фотка
				a(href="img/slide2.jpg")
					img(src="img/slide2.jpg" alt="")

				//- Остальная галерея должна иметь класс .foto_none
				-for (var i = 0; i < 5; i++){
					a.foto_none(href="img/test.jpg")
						img(src="img/test.jpg" alt="")
				-}
				
		
		section.title-foto_galerias 
			h3.foto_galerias-h3.__margin-20 Фотогалерея
			div.wrapp_foto_galerias
				-for(var i = 0; i<5; i++)
					div.foto_galerias-item
						+foto(i+1)
						h4.foto_galerias-item-title Ноябрь 2016 /
						span.foto_galerias-item-descript 10 фото

		include includes/_link_back
	include includes/_footer


	include includes/_menu
	include includes/_modal
	



	







