extends _layout

block title
	title Title of template

block content


	include includes/_header
	ul
		li
			a(href='/' style) Главная 
		li
			a(href='/foto-gallery.html') Фотогалерея
		li
			a(href='/about-quarter.html') О квартале
		li
			a(href='/price.html') Цена
		li
			a(href='/loyalty-program.html') Программа лояльности
		li
			a(href='/contacts.html') Отдел продаж

			

	include includes/_footer
	



	







