extends _layout

block title
	title Title of template

block content


	include includes/_header
	ul
		li
			a(href='/' style) Главная 
		li
			a(href='/foto-gallery.html') Фотогалерея

	include includes/_footer
	



	







