extends _layout

block title
	title Title of template

block content
	include includes/_sliders
	include includes/_btn
	include includes/_menu

	include includes/_header
	
	section.title-logo_quarter
		div.logo_quarter
			img(src='img/kedr_logo.png' alt='Кедровый квартал')
	nav.title-breadcrumbs
		ul.breadcrumbs
			li 
				a Главная /

	section.title-price_contact
		div.wrapp_price_contact.__margin-20
			h4 Цены и условия
			p Уважаемые клиенты, подробную информацию о стоимости, наличии квартир и условиях покупки вы можете узнать по телефонам колл-центра:
			ul
				li +375 29 300-00-00 
				li +375 29 1-328-328
				li +375 29 555-000-0
	section.title-price_house
		mixin house
			div.house
				h4.house-title Дом 6
				p.house-descript.no_margin (9.6 по генплану), 19 этажей
				p.house-descript Срок сдачи: сдан в 1 квартале 2016 
				img(src="img/slide2.jpg" alt="alt")
				+btn('btn-green btn-uppercase btn-center', 'подобрать по параметрам')
		div.wrapp-house.__margin-20.wrapp-house_price
			+house
			+house
			+house
	
	section.title-back_link
		div.back_link
			a(href = '/') 
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135 100"><path d="m43.49579,3.54208c1.87973,-1.87971 4.83902,-1.87971 6.71872,0c1.81622,1.81622 1.81622,4.83902 0,6.651l-34.06784,34.06787l112.41928,0c2.62061,0 4.77127,2.08295 4.77127,4.70354c0,2.62061 -2.15067,4.77129 -4.77127,4.77129l-112.41928,0l34.06784,34.00435c1.81622,1.87971 1.81622,4.90675 0,6.71873c-1.8797,1.87973 -4.83899,1.87973 -6.71872,0l-42.13289,-42.13287c-1.81622,-1.81622 -1.81622,-4.83902 0,-6.651l42.13289,-42.1329l0,-0.00001z" stroke-width="0"/></svg>
				span  Назад на главную
	
	
	include includes/_footer
	



	







